<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script src="../../../bower_components/lodash/dist/lodash.min.js"></script>

<dom-module id="data-group">
    <template>
        <style>
        </style>
        <div id="group">
            <content></content>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'data-group',

        properties: {
            name: {
                type: String
            },
            value: {
                type: Object,
                notify: true,
                value: function() { return {} }
            }
        },

        ready: function() {
            var self = this;
            this._findImmediateFields().forEach(function(el) {
                el.addEventListener('value-changed', function(e) {
                    var propName = e.target.name;
                    if (propName) {
                        var propVal = e.target.value;
                        self.set('value.' + propName, propVal);
                    }
                });
            });
        },

        _findImmediateFields: function() {
            var self = this;
            function findClosestDataGroup(el) {
                while ((el = el.parentElement) && el.tagName != self.tagName);
                return el;
            }
            return _.toArray(this.$.group.querySelectorAll('input-field,number-field,data-group')).filter(function(el) {
                return findClosestDataGroup(el) === self;
            });
        }
    });
</script>
