<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="data-group">
    <template>
        <div id="output"></div>
        <content id="templates" select="template"></content>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'data-group',

        behaviors: [Polymer.Templatizer],

        properties: {
            name: {
                type: String
            },
            value: {
                type: Object,
                notify: true,
                value: function() { return {} },
                observer: '_onValue'
            }
        },

        ready: function() {
            var template = this.getContentChildren('#templates')[0];
            this.templatize(template);

            this.instance = this.stamp({});
            Polymer.dom(this.$.output).appendChild(this.instance.root);
        },

        _onValue: function(newValue, oldValue) {
            console.log('_onValue', arguments);
            this.instance && (this.instance['value'] = newValue);
        },

        _forwardParentProp: function(prop, newValue){
            console.log('_forwardParentProp',arguments);
        },
        _forwardParentPath: function(prop, value){
            console.warn('_forwardParentPath',arguments);
        },

        _forwardInstanceProp: function(inst, prop, value) {
            console.log('_forwardInstanceProp', arguments);
        },

        _forwardInstancePath: function(inst, path, value) {
            console.log('_forwardInstancePath', arguments);
        }

    });
</script>
