<script>
    window.FieldBehaviors = window.FieldBehaviors || {};

    FieldBehaviors.FieldBehavior = {

        properties: {
            name:  {
                type: String,
                value: ''
            },
            label: {
                type: String,
                value: ''
            },
            _label: {
                type: String,
                computed: 'computeLabel(label, name)'
            }


        },

        listeners: {
            change: 'onChange'
        },

        onChange: function(e) {
            console.log(this.tagName.toLowerCase() + " change", e);
            this.value = this._getValue(e.target);
        },

        _getValue: function(el) {
            return el.value;
        },

        _notifyReady: function() {
            if (!this._readyNotified) {
                this.fire('component-ready');
                this._readyNotified = true;
            }
        },

        computeLabel: function() {
            return this.label ? this.label : _.startCase(this.name);
        }
    }
</script>