<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="FieldBehavior.html">

<dom-module id="input-field">
    <template>
        <style>
            div {
                margin-bottom: 5px;
            }
            label {
                display: inline-block;
                width: 10em;
            }
        </style>
        <div>
            <label>{{_label}}</label>
            <input type="text" name="{{name}}">
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'input-field',

        behaviors: [FieldBehaviors.FieldBehavior],

        properties: {
            value: {
                type: String,
                notify: true,
                value: ''
            }
        }

    });
</script>
