<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="FieldBehavior.html">

<script src="../../../bower_components/lodash/dist/lodash.min.js"></script>

<dom-module id="number-field">
    <template>
        <style>
            div {
                margin-bottom: 5px;
            }
            label {
                display: inline-block;
                width: 10em;
            }

            input {
                text-align: right;
            }
        </style>
        <div>
            <label>{{_label}}</label>
            <input type="text" name="{{name}}" value="[[value]]">
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'number-field',

        behaviors: [FieldBehaviors.FieldBehavior],

        properties: {
            value: {
                type: Number,
                notify: true,
                value: null
            }
        },

        _getValue: function(el) {
            return el.value.trim() ? parseInt(el.value) : null;
        }

    });
</script>
