<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="FieldBehavior.html">

<script src="../../../bower_components/lodash/dist/lodash.min.js"></script>

<dom-module id="select-field">
    <template>
        <style>
            div {
                margin-bottom: 5px;
            }

            label {
                display: inline-block;
                width: 10em;
            }
        </style>
        <div>
            <label>{{_label}}</label>
            <select id="select" name="{{name}}">
                <template is="dom-repeat" items="[[_options]]">
                    <option value="{{item.value}}" selected="{{item.selected}}">{{item.label}}</option>
                </template>
            </select>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'select-field',

        behaviors: [FieldBehaviors.FieldBehavior],

        properties: {
            value: {
                type: String,
                notify: true,
                observer: '_onValue'
            },

            options: {
                type: Array
            },

            _options: {
                type: Array,
                computed: 'computeOptions(options, value)'
            }

        },

        _onValue: function(value) {
            this.$.select.value = value;
        },

        computeOptions: function (options, value) {
            var labelValues = options.map(function (opt) {
                return {label: opt[0], value: opt[1], selected: opt[1] == value}
            });

            if (typeof this.value === 'undefined') {
                this.value = labelValues[0].value;
            }

            return labelValues;
        }
    });
</script>
