<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="DataGroup.html">

<dom-module id="submit-form">
    <template>
        <style>
        </style>
        <form id="form" on-submit="onSubmit">
            <data-group id="theGroup">
                <content></content>
            </data-group>
        </form>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'submit-form',

        properties: {
            data: {
                type: Object,
                readOnly: true,
                notify: true
            }
        },

        onSubmit: function(e) {
            e.preventDefault();
            console.log("submit-form onSubmit", e);
            this._setData(this.$.theGroup.value);
        }
    });
</script>
