<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="SubmitForm.html">
<link rel="import" href="InputField.html">
<link rel="import" href="NumberField.html">
<link rel="import" href="SelectField.html">
<link rel="import" href="DataGroup.html">


<dom-module id="transaction-entry-view">
    <template>
        <style>
        </style>
        <div class="transactionEntryContainer">
            <h2>Enter Transaction</h2>
            <submit-form on-submit="onData">
                <input-field name="date"></input-field>
                <input-field name="description"></input-field>
                <data-group name="posting1">
                    <input-field name="accountId"></input-field>
                    <select-field name="type" opts='[ ["Debit", "DR"], ["Credit", "CR"] ]' foo="bar" value="DR"></select-field>
                    <number-field name="amount"></number-field>
                </data-group>
                <data-group name="posting2">
                    <input-field name="accountId"></input-field>
                    <select-field name="type" opts='[ ["Debit", "DR"], ["Credit", "CR"] ]' foo="bar"></select-field>
                    <number-field name="amount"></number-field>
                </data-group>

                <button type="submit">Save</button>
            </submit-form>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'transaction-entry-view',

        properties: {
            transactionDetails: {
                type: Object,
                readOnly: true,
                notify: true
            }
        },

        onData: function(e) {
            var data = e.detail.value;
            console.log('onData', data);
            var tran = {
                date: data.date,
                description: data.description,
                postings: [ data.posting1, data.posting2 ]
            };
            this._setTransactionDetails(tran);
        }
    });
</script>
