<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script src="../../../dist/accounts.js"></script>
<dom-module id="trial-balance-calc">
    <template>
    </template>
</dom-module>

<script>
    var TrialBalance = require('trial-balance').default;

    Polymer({
        is: 'trial-balance-calc',

        properties: {
            accounts: {
              type: Object,
              observer: 'onAccounts'
            },
            accountBalances: {
                type: Array,
                readOnly: true,
                notify: true
            },
            balanceTotals: {
                type: Object,
                readOnly: true,
                notify: true
            }
        },

        onAccounts: function(accts) {
            this.model = new TrialBalance(accts);
            this.model.accountBalances.subscribe(function(x) { this._setAccountBalances(x)}.bind(this) );
            this.model.balanceTotals.subscribe(function(x) { this._setBalanceTotals(x)}.bind(this) );
        }

    });
</script>
