<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="trial-balance-view">
    <template>
        <style>
            table {
                border: 1px solid gray;
                border-collapse: collapse;
            }

            td, th {
                border: 1px solid gray;
                padding: 5px 10px;
            }

            td.number {
                text-align: right;
            }
        </style>
        <div class="trialBalanceContainer">
            <h2>Trial Balance</h2>
            <table>
                <thead>
                    <th>Account</th>
                    <th>Debit Balance</th>
                    <th>Credit Balance</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{accountBalances}}">
                        <tr>
                            <td class="accountName">{{item.name}}</td>
                            <td class="number debit">{{item.debitBalance}}</td>
                            <td class="number credit">{{item.creditBalance}}</td>
                        </tr>
                    </template>
                </tbody>
                <tfoot>
                    <td><strong>Totals</strong></td>
                    <td class="number debit total">{{balanceTotals.debit}}</td>
                    <td class="number credit total">{{balanceTotals.credit}}</td>
                </tfoot>
            </table>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'trial-balance-view',

        properties: {
            accountBalances: {
                type: Array
            },
            balanceTotals: {
                type: Object
            }
        }

    });
</script>
